/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-heading {
  font-size: 20px;
  font-weight: bold;
}
.login-btn {
  border: 1px solid gray;
  border-radius: 2px;
  color: black;
  background-color: antiquewhite;
  cursor: pointer;
}
